@page
@{
    ViewBag.Title = "Movie information added.";
}

@model Assignment3.Models.Movie

<div>
    <h2>The movie information you entered has been added to the list.</h2>

</div>


<div>
    Click <a asp-action="MovieList">here</a> to see the full list of movies.
</div>