@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div>
    <p>here are my cool movies website.</p>

    <br />

    <img src="~/joel.jpg" />
</div>

@*<a asp-action="AddMovie">Click here to add movie</a>
<a asp-action="MyPodcasts">Click here to see my podcasts</a>*@
